.multi-select-popover .ant-popover-inner-content{
    padding:0;
}
.plusStyle{
    color: #1DA57A;
    font-size: 14px;
    border: 1px solid #1DA57A;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    margin: 0 5px;
    line-height: 18px;
}